body, h1, h2, h3, h4, h5, span, div, form, button {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    background-color: rgb(220 221 227);
}

button {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.3em;
}

button:hover {
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #0c0c0c3b, 5px 5px 15px 5px rgba(0,0,0,0);
}

nav {
    background-color: #14034947;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

#nav-profile {
    height: 45vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/profileNav.png);
    background-size: cover;
}

#nav-profile>.nav-item {
    text-decoration: none;
    color: #ef115d;
    align-self: center;
    background-color: #ffffff45;
    border-radius: 50%;
    padding: 50px;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    text-decoration: none;
    color: #ef115d;
}

.nav-item:hover {
    text-shadow: 15px 13px 0px #a09d9d, -2px -8px 2px rgb(233 228 223 / 0%);
}

#nav-log {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../image/Truck.png);
}

#nav-list {
    height: 29vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/loadList.webp);
    background-size: cover;
}

#nav-truck-list {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/driver4.png);
}

#nav-driver-loads {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/driver3.png);
}

#nav-load {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/load.png);
    background-position: bottom;
}

#nav-edit {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../image/editLoad.png);
}

#nav-create {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/Create.png);

}

#nav-create-truck {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/driver1.png);
}

#nav-shipping {
    height: 24vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/delivery1.jpeg);
    background-size: cover;
}

#sign-out {
    align-self: flex-start;
    padding: 10px 30px;
    font-size: 1em;
    background-color: #e0027b;
    color: white;
}

#logo {
    color: #e0027b;
}

.page-name {
    font-size: 1.5em;
    margin: 40px;
    font-family: monospace;
    color: white;
    text-shadow: 2px 2px 0 #19181a, 4px 4px 0 #9c9c9c, 2px 2px 2px rgb(136 90 108 / 4%);
}

.register-input, .loads-input {
    cursor: pointer;
    padding: 0.5vw;
}

.register-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    align-items: center;
    padding: 110px;
    margin-bottom: 10px;
}

.register-label {
    margin: 1vw;
    font-size: 2em;
    font-family: monospace;
}

.submit-button {
    color: #343232;
    align-self: center;
    color: white;
    background-image: linear-gradient(to top, #0b2650, #0061a0, #0094c4, #00c7d3, #c8e4eb);
}

.is-register {
    color: grey;
    margin: 1vw;
    font-size: 1.2em;
}

#loads-container {
    background-color: #fbfdfe47;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url(https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjE0OC1uLTEwLWxvZ2lzdGljaW52aWR1YWwxXzEuanBn.jpg);
    background-repeat: round;
}


.loading-string {
    padding: 20px;
    color: #e0027b;
    margin: 0 auto;
}

.load-container, #load-container {
    padding: 40px;
    margin-bottom: 30px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    border: 5px double;
    background-color: #ffffffcf;

}

.list-item {
    display: flex;
}

.list-item p:first-of-type {
    color: red;
    margin-right: 18px;
}

.load-container>a {
    align-self: center;
}

.options-button {
    font-size: 1em;
    font-family: monospace;
    background-color: #ffe2e2;
}

#load-section {
    margin: 0 auto;
    background-image: url(https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjE5LXBsYS00MzktbW9ja3Vwc18yLmpwZw.jpg);
    background-size: cover;
}

#load-section>.load-container {
    margin: 0;
}

.iscompleted {
    width: 20px;
    height: 20px;
    text-align: center;
}

#load-container {
    align-self: center;
}

.load-create-label {
    margin-bottom: 10px;
    font-size: 1em;
    color: red;
    font-weight: bold;
    align-self: flex-start;
}

.shipping-label {
    margin-right: 20px;
    font-weight: bold;
}

.shippingInfoItem p:first-of-type {
    color: red;
    margin-right: 18px;
}

.shippingInfoItem {
    display: flex;
}

.label-input-container {
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}

.load-input {
    font-style: italic;
    font-size: 0.8em;
    border: 1px dashed #494545;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.button-container {
    align-self: center;
}

.button {
    padding: 15px 25px;
    font-size: 1.3em;
}

.filter-status {
    align-self: center;
    align-items: center;
    display: flex;
}

#status-input, #status-driver-input {
    margin-right: 5px;
}

.edit-button {
    margin-right: 10px;
    background-image: linear-gradient(to top, #096b5a, #199261, #51b759, #94db41, #e5f903);
}

.delete-button {
    background-image: linear-gradient(to top, #eb0121, #f83e56, #fc6684, #f989aa, #f1aac8);
}

#load-data {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

#load-data>textarea {
    margin-bottom: 10px;
    border: 3px double;
}

#load-data>button {
    padding: 10px 30px;
    background-image: linear-gradient(to top, #096b5a, #199261, #51b759, #94db41, #e5f903);
    font-size: 1em;
}

#delete-profile {
    align-self: center;
    font-size: 1.1em;
    padding: 15px 45px;
}

#profile-section {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 100px 200px;
    background-color: #ffffff75;
    border-radius: 10px;
}

#delete-acc {
    background-color: rgb(255 1 87 / 51%);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #4c4242;
}

#change-pas {
    background-color: rgba(61, 187, 245, 0.466);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #4c4242;
}

#avatar-container {
    display: flex;
    align-self: center;
}

.avatar-label {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 20px
}

#show-avatar {
    margin: 20px;
}

#account-options {
    align-self: center;
    margin: 20px;
}

.change-password-form {
    align-self: center;
    display: flex;
    flex-direction: column;
}

#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ac0f0f;
    object-fit: cover;
}

.hidden {
    display: none;
}

.trucks-container {
    background-color: #cbd2eeab;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.truck-container {
    background-color: #fcfdfd9c;
    padding: 40px;
    margin-bottom: 30px;
    width: 35vw;
    display: flex;
    border: 5px double;
}

.trucks-create-container {
    background-color: #cbd2eeab;
    display: flex;
    padding: 20px;
}

.trucks-create-container>.truck-container {
    margin: 10px;
    cursor: pointer;
}

.trucks-create-container>.truck-container:hover{
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #0c0c0c3b, 5px 5px 15px 5px rgba(0,0,0,0);
}

.truck-image {
    width: 100%;
    object-fit: contain;
}

.truck-image-container {
    width: 50%;
}

.item-content {
    width: 40%;
    margin: 15px 5px 0 10px;
    box-sizing: border-box;
}

.truck-content {
    padding: 15px;
    font-size: 1.3em;
}

.current-truck {
    border: 3px solid green;
}

#activ-load-container {
    flex-direction: column;
    margin: 0 auto;
}

#pagination {
    align-items: center;
    display: flex;
    justify-content: center;
}

#pagination>li {
    list-style: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #11111217;
    margin-right: 10px;
}

#pagination>.active {
    color: red;
    pointer-events: none;
}